/* --- Global & Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
}
/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color:rgba(26, 11, 46, 1);
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: 50px;
    text-decoration: none;
}
.nav-links a {
    text-decoration: none;
    color: #94a3b8bd;
    font-size: 16px;
     font-weight: 500;
    transition: 0.3s;
}
.nav-links a:hover {
  color: white;
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-btn {
  background: linear-gradient(to right, #facc15, #ec4899, #9333ea);
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-bottom-line {
  border-bottom: 1px solid #1a0b2e8a; 
  width: 100%;
}

/* Banner Section*/

.banner {
  background-image: url('B13-A02-TechWave/assets/hero-bg.png'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.mic-wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto 40px;
}
.circle-image-bg {
  position: relative;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-img {
  width: 100%;
  height: 100%;
}
.mic-img {
  position: absolute;
  width: 120px;
  z-index: 2;
   animation: float 3s ease-in-out;
}
.new-badge {
  position: absolute;
  top: 15px;
  right: 5px;
  background-color: #00ff9d;
  color: rgba(26, 11, 46, 1);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 800;
}
.banner-logo {
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 10px;
  font-style: Extra Bold;
}
.banner-p {
  color: #94a3b8;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.banner-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn-spotify {
  background: linear-gradient(to right, #facc15, #ec4899, #9333ea);
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(170, 180, 125, 0.158);
}
.btn-spotify:hover {
  transform: translateY(-2px);
  background-position: right center;
}
.btn-subscribe {
  background: transparent;
  border: 1px solid #00ff9d;
  padding: 15px 30px;
  border-radius: 50px;
  color: #00ff9d;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}
.btn-subscribe:hover {
  background-color: rgba(0, 255, 157, 0.062);
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(170, 180, 125, 0.158);
}

/* About Section */

.about-section {
  background-color:rgba(26, 11, 46, 1);
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.about-header h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}
.about-p, .about-subtext {
  color: rgba(255, 255, 255, 0.37);
  max-width: 800px;
  margin: 0 auto 20px;
  line-height: 1.6;
}
.separator {
  border: 0;
  border-top: 1px solid #1e1b2eaf;
  margin: 50px 0;
}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.stat-number {
  font-size: 48px;
  font-weight: 800;
  color: #00ff9d;
  margin: 0;
}
.stat-label {
  font-size: 14px;
  color: #94a3b8;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: 600;
}

/* Feature Section */

.features-section {
  background-color: rgba(35, 14, 61, 1);;
  padding: 80px 5%;
}
.section-title {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 50px;
  color: white;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  grid-template-areas: 
    "premium mobile mobile mobile"
    "premium community community community"
    "interviews interviews interviews resources";
}
.premium {
     grid-area: premium; 
}
.mobile {
     grid-area: mobile; 
     display: flex; 
     align-items: flex-start; 
     gap: 20px; 
}
.community {
     grid-area: community; 
     display: flex; 
     align-items: flex-start; 
     gap: 20px; 
}
.interviews { 
    grid-area: interviews; 
}
.resources { 
    grid-area: resources; 
}
.feature-card {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 35px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}
.feature-card:hover {
  transform: translateY(-.5px);
}
.icon-img i {
  font-size: 30px;
  margin-bottom: 20px;
  display: inline-block;
}
.feature-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: white;
}
.feature-card p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.37);
  line-height: 1.6;
}
/* Episodes Section */

.episodes-section {
  background-color:rgba(26, 11, 46, 1);
  padding: 100px 5%;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  text-align: center;
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 60px;
}
.episodes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.episode-card {
  background-color: rgba(26, 11, 46, 1);
  border-radius: 35px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: transform 0.2s ease;
}
.episode-card:hover {
  transform: translateY(-2px);
}
.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-btn-grad {
  width: 65px;
  height: 65px;
  background: linear-gradient(135deg, #fb923c, #db2777, #9333ea);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-btn-grad i {
  color: white;
  font-size: 22px;
  margin-left: 5px;
}
.episode-info {
  padding: 30px;
}
.episode-info h3 {
  font-size: 24px;
  font-weight: 700;
  font-style: Bold;
  margin-bottom: 15px;
  line-height: 1.3;
  font-family: inter;
}
.episode-info p {
  color: rgba(255, 255, 255, 0.37);
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;
}
.duration {
  color: #00ff9d;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Host Section*/

.host-section {
  background-color:rgba(26, 11, 46, 1);
  padding: 100px 20px;
  color: white;
  text-align: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.section-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}
.host-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
}
.host-img-box img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #2d243d;
}
.host-name {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}
.host-p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.37);
  line-height: 1.6;
  margin-bottom: 25px;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.icon-circle {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  border: 1px solid #443a5a;
  transition: 0.1s;
}
.icon-circle:hover {
  background: linear-gradient(to right, #fb923c49, #db277831, #9333ea);
  border-color: transparent;
  transform: translateY(-1px);
}

/* Footer Section */

.footer-section {
    background-image: url('B13-A02-TechWave/assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 80px 0;
    text-align: center;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.social-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-item img {
    width: 20px;
    height: 20px;
}

.social-item span {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}
.copyright {
    font-size: 14px;
    color: rgba(250, 250, 250, 1);
    margin-top: 20px;
}